{erl_opts, [debug_info]}.

{deps, [
    ctx,
    {grpc, {git, "https://github.com/emqx/grpc", {branch, "master"}}}
]}.

{project_plugins, [
    erlfmt, {grpc_plugin, {git, "https://github.com/HJianBo/grpc_plugin", {branch, "master"}}}
]}.

{erlfmt, [write]}.

{grpc, [
    {protos, "proto"},
    {gpb_opts, [
        {type_specs, false}
    ]}
]}.

{pre_hooks, [
    {
        compile,
        "./fix.sh"
    }
]}.

{post_hooks, [
    {
        clean,
        "$(cd ./src && rm -rf HStreamApi.erl hstream_server_h_stream_api_bhvr.erl hstream_server_h_stream_api_client.erl)"
    }
]}.
