{erl_opts, [debug_info]}.
{deps, [
    {ecpool, {git, "https://github.com/emqx/ecpool.git", {tag, "0.5.3"}}},
    {grpc, {git, "https://github.com/emqx/grpc-erl", {tag, "0.6.8"}}},
    {ezstd, {git, "https://github.com/emqx/ezstd.git", {tag, "v1.0.4-emqx1"}}}
]}.

{plugins, [
    {grpc_plugin, {git, "https://github.com/HJianBo/grpc_plugin", {tag, "v0.10.1"}}},
    erlfmt
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {cover_enabled, true}
    ]},
    {dev, [
        {erl_opts, [debug_info]},
        {extra_src_dirs, ["examples"]},
        {deps, [
            {ecpool, {git, "https://github.com/emqx/ecpool.git", {tag, "0.5.5"}}},
            {grpc, {path, "../grpc-erl"}},
            {ezstd, {git, "https://github.com/emqx/ezstd.git", {tag, "v1.0.4-emqx1"}}}
        ]},
        {plugins, [
            rebar3_path_deps
        ]}
    ]}
]}.

{erlfmt, [
    write,
    {exclude_files, [
        "src/hstreamdb_api.erl",
        "src/hstream_server_h_stream_api_bhvr.erl",
        "src/hstream_server_h_stream_api_client.erl"
    ]},
    {files, ["src/*.erl", "test/*.erl", "include/*.hrl", "rebar.config", "examples/*.erl"]}
]}.

{grpc, [
    {type, all},
    {protos, ["protocol/"]},
    {out_dir, "src/"},
    {gpb_opts, [{type_specs, false}, {module_name, "hstreamdb_api"}]}
]}.

{shell, [
    {apps, [hstreamdb_erl]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {grpc, gen}},
        {clean, {grpc, clean}}
    ]}
]}.

{cover_enabled, true}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{xref_ignores, [
    hstreamdb_api, hstream_server_h_stream_api_bhvr, hstream_server_h_stream_api_client
]}.

{cover_excl_mods, [
    %% these modules are automatically generated by grpc plugin
    hstreamdb_api,
    hstream_server_h_stream_api_bhvr,
    hstream_server_h_stream_api_client
]}.

{alias, [
    {'dev-shell', [{upgrade, "grpc"}, shell]}
]}.
