{erl_opts, [debug_info]}.

{project_plugins, [erlfmt, rebar3_path_deps]}.

{erlfmt, [write]}.

{deps, [
    {hstreamdb_erlang, {path, "../.."}}
]}.

{escript_incl_apps, [hstreamdb_erlang_bench]}.
{escript_main_app, hstreamdb_erlang_bench}.
{escript_name, hstreamdb_erlang_bench}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
